<form id="frm_create_stock" name="estoqueCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewStock")</span>
        </h4>
    </div>
    <div class="modal-body">

        <div class="row clearfix">

            <div class="col-md-6">
                <label for="preco" class="form-label">@L("Stock")</label>
                <div class="input-group spinner" data-trigger="spinner">
                    <span class="input-group-addon">
                        <i class="material-icons">content_paste</i>
                    </span>
                    <div class="form-line">
                        <input id="preco" type="number" ng-model="vm.estoque.stock" class="form-control text-center" value={{vm.estoque.stock}} data-rule="quantity">
                    </div>
                    <span class="input-group-addon">
                        <a href="javascript:;" ng-click="vm.stockUp()" class="spin-up" data-spin="up"><i class="glyphicon glyphicon-chevron-up"></i></a>
                        <a href="javascript:;" ng-click="vm.stockDown()" class="spin-down" data-spin="down"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    </span>
                </div>
            </div>

            <div class="col-md-6">
                <label for="preco" class="form-label">@L("Price")</label>
                <div class="input-group spinner" data-trigger="spinner">
                    <span class="input-group-addon">
                        <i class="material-icons">attach_money</i>
                    </span>
                    <div class="form-line">
                        <input id="preco" type="number" ng-model="vm.estoque.price" class="form-control text-center" value={{vm.estoque.price}} data-rule="quantity">
                    </div>
                    <span class="input-group-addon">
                        <a href="javascript:;" ng-click="vm.priceUp()" class="spin-up" data-spin="up"><i class="glyphicon glyphicon-chevron-up"></i></a>
                        <a href="javascript:;" ng-click="vm.priceDown()" class="spin-down" data-spin="down"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    </span>
                </div>
            </div>

        </div>

        <label for="description" class="form-label">@L("Product"): </label>
        <label for="description" class="form-label">{{data.selector.name}}</label>


        <div class="row clearfix">
            <div class="col-sm-12">
                <div ng-class="{'has-error': estoqueCreateForm.selector.$invalid}">
                    <select name="selector" class="validate form-control" data-toggle="dropdown" ng-model="data.selector" ng-options="produto.name for produto in vm.produtos" required></select>
                </div>
            </div>
        </div>


        <br />

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="estoqueCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>